<nav class="navbar navbar-expand-lg mx-auto" style="background-color: #4150AF; width: 800px;">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon" style="color: white;"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="{% url 'homepage:index' %}">Home</a>
	      <a class="nav-item nav-link" href="{% url 'Newsroom:Newsroom' %}">Newsroom</a>
	      <a class="nav-item nav-link" href="{% url 'Register_Test:index' %}">Register</a>
	      <a class="nav-item nav-link" href="{% url 'Donation_Test:donate' %}">Donate</a>
				<a class="nav-item nav-link" href="{% url 'Donation_Test:display_donators' %}">Your Donations</a>
				<a class="nav-item nav-link" href="{% url 'Login:login' %}">Login</a>
				<a class="nav-item nav-link" href="{% url 'Login:logout' %}">Logout</a>
	      <a class="nav-item nav-link" href="{% url 'Testimoni:testimoni' %}">Testimonials</a>
	    </div>
	</div>
</nav>