#home, #about, #recent-news, #howtodonate {
	box-sizing: border-box;
	padding: 20px;
}

.container {
	margin: auto;
	max-width: 1200px;
}

#home {
	background-image: url("../images/homepage-2.png");
	min-height: 100%;
	background-position: center;
	background-size: cover;
}

#about, #recent-news, #howtodonate {
	background-color: #4150AF;
}

.nav-link {
	color: white;
}

#header {
	background-color: #4150AF;
}

#home h1 {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	font-size: 60px;
	text-align: center;

	color: #F2F2F2;
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    bottom: 50px;
    margin: auto;
    padding-left: 50%;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.50s ease-in-out;
    transition: background-color 0.50s ease-in-out;

}

/*
.abt-rect {
	width: 616px;
	height: 417px;
    margin: auto;
    padding-top: 0px;
    padding-left: 0px;
	color: #C4C4C4;
}
*/

.about-img {
	width: 55%;
	margin-left: 500px;
	padding-top: 50px;
}

.about-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: justify;
	margin-top: -170px;

	color: #F2F2F2;
}

.about-explanation {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 24px;
	text-align: justify;

	color: #F2F2F2;
}

.news-rect {
	background: #C4C4C4;
}

#news-title-container {
	background: #C4C4C4;
	width: 100%;
	height: 80px;
}

.news-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: center;
	padding-top: 10px;

	color: #F2F2F2;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


#demo {
	width: 100%;
}

.howto-title {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 48px;
	text-align: center;

	color: #F2F2F2;
}

.register-yourself {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	padding-left: 76px;
	padding-top: 10%;
	color: #F2F2F2;
}

.contact-icon {
	padding-left: 66px;
}

.arrow-icon1 {
	
}

.pick-a-news {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	text-align: center;

	color: #F2F2F2;
}

.news-icon {
	padding-left: 76px;
}

.arrow-icon2 {
	
}

.enter-infos {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	text-align: center;

	color: #F2F2F2;
}

.form-icon {
	padding-right: 76px;
}

.arrow-icon3 {
	
}

.donation-sent {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 22px;
	text-align: center;

	color: #F2F2F2;
}

.mail-icon {
	padding-right: 66px;
}

.quote {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;

	color: #FDF2F2;
}

#footer {
    width:100%;
    height:80px;
    bottom:0;
    left:0;
    top: 3100px;
	background: #C4C4C4;
}

#get-in-touch {
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	font-size: 18px;
	text-align: center;

	color: #4150AF;
}

.twitter-icon {

}

.insta-icon {

}

.email-icon {

}

#cred {
	font-family: Lato;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	font-size: 18px;
	text-align: center;

	color: #4150AF;
}