{% extends "layout/base.html" %}
{% load static %}
 {% load staticfiles %}

 {% block content %}
 <body>
    
    
    <div id="container-fluid">
            <h1>Continue with Google Login</h1> 
            <div class="btn btn-light my-2">
                 <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none">
                            <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                            Login with Google
                </a>
            </div>
            
    </div>
</body>


 {% endblock %}