<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
 {% load staticfiles %}
<html lang="en-GB" prefix="og: http://ogp.me/ns#">

<!--<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>Lombok</title>



    <link rel='stylesheet' id='google-fonts-css' href='//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C900%7COswald%3A400%2C700'
        type='text/css' media='all' />
    <link rel='stylesheet' id='nl-css' href='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/css/style.css?ver=1537947031'
        type='text/css' media='all' />
    <script type='text/javascript'>
        /* <![CDATA[ */
        var monsterinsights_frontend = { "js_events_tracking": "true", "is_debug_mode": "false", "download_extensions": "doc,exe,js,pdf,ppt,tgz,zip,xls", "inbound_paths": "", "home_url": "https:\/\/www.newlegend4x4.com", "track_download_as": "event", "internal_label": "int", "hash_tracking": "false" };
/* ]]> */
    </script>
    <script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.2.0'></script>
    <script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/jquery.min.js?ver=2.2.4'></script>
    <script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/jquery-ui.min.js?ver=1537947052'></script>


</head>-->
{% block content %}
<body>
    <section class="section-full">
        <div class="featured-slider-outer spacing-large-top" style="background-image: url(/static/gempapict.jpg)">gempapict.jpg
            <div class=" section section--large grid grid--spaced spacing-huge spacing-m-none-top">
                <div class="grid__col grid__col--6 grid__col--tb1-0 grid__col--tb2-0 grid__col--m-0"></div>

                <div class="grid__col grid__col--6 grid__col--tb1-12 grid__col--tb2-12 grid__col--m-12 post-styles js-fade-up js-fade-up--active">

                    <div class="txt-large txt-gray">
                        {% for i in info_lombok %}
                        <tr>
                            <br>
                            <br>
                            <td class="heading-upper txt-mid txt-light" style="font-size: 500%"> {{i.title}} </td>
                            <br>
                            <br>
                            <td> Donation Target : Rp {{i.donation_target}} </td>
                            <br>
                            <br>
                            <td> Donations Now : {{lombok_money}} </td>
                            <br>
                            <br>
                            <td> {{i.content}} </td>
                            
                            <br>
                        </tr>
                        {% endfor %}
                    </div>

                    <p>
                        <!--<a class="btn-arrow txt-upper txt-small txt-light arrow--light" > Check this program
                            
                        </a> -->
                    </p>
                </div>
            </div>

            <div class="featured-slider spacing-huge-bottom spacing-lt-mini-bottom spacing-tb-mini-bottom">
                <div class="section section--large grid grid--spaced">
                    <div class="grid__col grid__col--5 grid__col--tb2-9 grid__col--m-12">
                        <div class="bx-wrapper bxslider--loaded" style="max-width: 100%;">
                            <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 689px;">
                                <ul class="bxslider js-featured-slider" style="width: 5215%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

                                    <li aria-hidden="false" style="float: left; list-style: none; position: relative; width: 393px;">
                                        <article class="featured-slider__item">
                                            <a >
                                                <div class="featured-slider__img-outer">
                                                    <img class="featured-slider__img img-full" src="http://cdn.gogirlmagz.com/media/upload//2017/04/20/cerita-suka-dan-duka-jadi-seorang-volunteer-event-D25689-rf7n98003z2.jpg"
                                                        srcset="http://cdn.gogirlmagz.com/media/upload//2017/04/20/cerita-suka-dan-duka-jadi-seorang-volunteer-event-D25689-rf7n98003z2.jpg 2x"
                                                        alt="LSii-One New Legend 4x4">

                                                    <img class="featured-slider__img featured-slider__img--secondary img-full js-object-fit"
                                                        src="http://cdn.gogirlmagz.com/media/upload//2017/04/20/cerita-suka-dan-duka-jadi-seorang-volunteer-event-D25689-rf7n98003z2.jpg"
                                                        srcset="http://cdn.gogirlmagz.com/media/upload//2017/04/20/cerita-suka-dan-duka-jadi-seorang-volunteer-event-D25689-rf7n98003z2.jpg 2x"
                                                        alt="LSii-One New Legend 4x4">
                                                </div>

                                                <div class="build-features">
                                                    <div class="grid">
                                                        <h2 class="build-features__price heading-upper txt-mid-small">education assistance program for victims under 10 years</h2>
                                                        

                                                        <span class="featured-slider__item-arrow arrow arrow--inline">
                                                            
                                                        </span>
                                                        
                                                    </div>

                                                    
                                                   <!-- <button type="button" class="btn">Donate </button> -->
                                                  


                                                    <ul class="build-features__list">
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Age</h3>
                                                            <p class="txt-small">20 - 30</p>
                                                        </li>

                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Gender</h3>
                                                            <p class="txt-small">Male or Female</p>
                                                        </li>

                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Education</h3>
                                                            <p class="txt-small">Bachelor's degree</p>
                                                        </li>

                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Special Case</h3>
                                                            <p class="txt-small">With pleasure to stay for 1 month at the incident location</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </article>
                                    </li>

                                    <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 393px;">
                                        <article class="featured-slider__item">
                                            <a>
                                                <div class="featured-slider__img-outer">
                                                    <img class="featured-slider__img img-full" src="http://i66.tinypic.com/30x92f9.jpg"
                                                        alt="'69 Copper Mountain New Legend 4x4">
                                                </div>

                                                <div class="build-features">
                                                    <div class="grid">
                                                        <h2 class="build-features__price heading-upper txt-mid-small">Transportation and Accommodation Program</h2>

                                                        <span class="featured-slider__item-arrow arrow arrow--inline">
                                                             </span>
                                                    </div>

                                                  <!--   <button type="button" class="btn">Donate </button> -->

                                                    <ul class="build-features__list">
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Age</h3>
                                                            <p class="txt-small">20 - 25</p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Gender</h3>
                                                            <p class="txt-small">Male</p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Education</h3>
                                                            <p class="txt-small"> None (Having a driving licence)</p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Special Case</h3>
                                                            <p class="txt-small">Providing more energy for equipment needed</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </article>
                                    </li>

                                    <li aria-hidden="true" style="float: left; list-style: none; position: relative; width: 393px;">
                                        <article class="featured-slider__item">
                                            <a>
                                                <div class="featured-slider__img-outer">
                                                    <img class="featured-slider__img img-full" src="http://i66.tinypic.com/2s7uq13.jpg"
                                                        
                                                        alt="LSii-Five New Legend 4x4">     
                                                </div>

                                                <div class="build-features">
                                                    <div class="grid">
                                                        <h2 class="build-features__price heading-upper txt-mid-small">Back to School Program</h2>

                                                        <span class="featured-slider__item-arrow arrow arrow--inline">
                                                             </span>
                                                    </div>

                                                 <!--   <button type="button" class="btn">Donate </button> -->

                                                    <ul class="build-features__list">
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Age</h3>
                                                            <p class="txt-small">10 - 17</p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Gender</h3>
                                                            <p class="txt-small">Male and Female</p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Education</h3>
                                                            <p class="txt-small"> Student </p>
                                                        </li>
                                                    
                                                        <li>
                                                            <h3 class="txt-tiny heading-upper">Special Case</h3>
                                                            <p class="txt-small"> - </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </article>
                                    </li>
                                </ul>
                            </div>

                            <div class="bx-controls bx-has-controls-direction">
                                <div class="bx-controls-direction">
                                    
                                </div>
                                <div class="featured-slider-btn section section--large spacing-m-tiny-top txt-right">
                                    <a></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-slider-btn section section--large spacing-m-tiny-top txt-center">
                    <a class="btn btn--dark" href="{% url 'Donation_Test:donate' %}">Donate</a>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/all.min.js?ver=1537947052"></script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var ajax_data = { "ajax_admin": "https:\/\/www.newlegend4x4.com\/wp-admin\/admin-ajax.php", "security": "b161081699" };
    /* ]]> */
    </script>

    <script type="text/javascript" src="https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/ajax.min.js?ver=1537947052"></script>

    <script type="text/javascript" src="https://www.newlegend4x4.com/wp-includes/js/wp-embed.min.js"></script>

    <script type="text/javascript">
        if ($('#instafeed').length) {

            var feed = new Instafeed({
                get: 'user',
                userId: 4660051007,
                accessToken: '4660051007.1677ed0.bf758507dd88498bbfa421399c809631',
                resolution: 'standard_resolution',
                template: '<a class="instafeed__item" href="{{link}}" target="_BLANK"><img class="img-full" src="{{image}}" alt="{{caption}}"><span class="instafeed__item-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><defs><style>.\35 9e5367f-029d-41cb-a055-374bcb8cfc4f{fill:#1c1c1e;}</style></defs><g id="aa96a2e4-ffa7-495e-bc25-1995312872e6" data-name="Layer 2"><g id="52e73c27-e730-4791-884f-90a822eb50ad" data-name="Layer 1"><path d="M10 1.8c2.67 0 3 0 4 .06a5.61 5.61 0 0 1 1.86.34 3.33 3.33 0 0 1 1.9 1.9 5.61 5.61 0 0 1 .38 1.9c.05 1 .06 1.37.06 4s0 3-.06 4a5.61 5.61 0 0 1-.34 1.86 3.33 3.33 0 0 1-1.9 1.9 5.61 5.61 0 0 1-1.86.34c-1 .05-1.37.06-4 .06s-3 0-4-.06a5.61 5.61 0 0 1-1.94-.3 3.33 3.33 0 0 1-1.9-1.9 5.61 5.61 0 0 1-.34-1.9c-.05-1-.06-1.37-.06-4s0-3 .06-4a5.61 5.61 0 0 1 .34-1.9 3.33 3.33 0 0 1 1.9-1.9A5.61 5.61 0 0 1 6 1.86c1-.05 1.37-.06 4-.06M10 0C7.28 0 6.94 0 5.88.06a7.59 7.59 0 0 0-2.43.46 4.85 4.85 0 0 0-1.77 1.16A4.85 4.85 0 0 0 .52 3.45a7.59 7.59 0 0 0-.46 2.43C0 6.94 0 7.28 0 10s0 3.06.06 4.12a7.59 7.59 0 0 0 .46 2.43 4.85 4.85 0 0 0 1.16 1.77 4.85 4.85 0 0 0 1.77 1.16 7.59 7.59 0 0 0 2.43.46C6.94 20 7.28 20 10 20s3.06 0 4.12-.06a7.59 7.59 0 0 0 2.43-.46 5.19 5.19 0 0 0 2.93-2.93 7.59 7.59 0 0 0 .46-2.43c0-1.06.06-1.4.06-4.12s0-3.06-.06-4.12a7.59 7.59 0 0 0-.46-2.43 4.85 4.85 0 0 0-1.16-1.77A4.85 4.85 0 0 0 16.55.52a7.59 7.59 0 0 0-2.43-.46C13.06 0 12.72 0 10 0z" class="59e5367f-029d-41cb-a055-374bcb8cfc4f"/><path d="M10 4.86A5.14 5.14 0 1 0 15.14 10 5.14 5.14 0 0 0 10 4.86zm0 8.47A3.33 3.33 0 1 1 13.33 10 3.33 3.33 0 0 1 10 13.33z" class="59e5367f-029d-41cb-a055-374bcb8cfc4f"/><circle cx="15.34" cy="4.66" r="1.2" class="59e5367f-029d-41cb-a055-374bcb8cfc4f"/></g></g></svg></span></a>',
                limit: 5
            });

            feed.run();
        }
    </script>
    
    &gt;
</body>
{% endblock %}

</html>

