{% extends "layout/base.html" %}
{% load static %}
 {% load staticfiles %}

<!--<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
	   
        <title>CS-CrowdFunding</title>
    </head>-->

    
    {% block content %}
    
    <body>
	
	<div id="container-fluid">
	  <div id="content">
	    <div id="photo" style="float:left">
	      <a href="http://tinypic.com?ref=miny39" target="_blank"><img style="max-width:100%;height:auto;margin-left:20px;margin-top:110px" src="http://i66.tinypic.com/miny39.jpg" class="img-fluid" border="0" alt="Image and video hosting by TinyPic"></a>
	    </div>

	    <div id="fill">
	      <div id="title" style="float">
            <h1><b>REGISTER YOURSELF</b></h1>
			<h2 id="head2">Please fill in the register form</h2>
		  </div>
           
          <div class="row">
            <div class="col-md-6">
              <form id="form" style="align:center" method="POST" action="{% url 'Register_Test:add_donatur' %}"  >
                {% csrf_token %}
                <b>{{ register_form.as_p }}</b>
                <button type="submit" class="registerbtn">Register</button>
              </form>
    
            </div>       
          </div>

               
          <div class="row">
            <div class="col-md-6">
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              <!--<p>   {{display}}  </p>-->

            </div>   
          </div>
		</div>
	  </div>
	</div>
           
    </body>
    {% endblock %}