<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% load static %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
		<link rel="stylesheet" href="{% static 'donation.css' %}">
		<link rel="stylesheet" href="{% static 'register.css' %}">
		<script src="{% static 'js/javascript.js'  %}"></script> 


		<link rel='stylesheet' id='google-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%3A300%2C400%2C900%7COswald%3A400%2C700' type='text/css' media='all' />
		<link rel='stylesheet' id='nl-css'  href='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/css/style.css?ver=1537947031' type='text/css' media='all' />
		<script type='text/javascript'>
		/* <![CDATA[ */
		var monsterinsights_frontend = {"js_events_tracking":"true","is_debug_mode":"false","download_extensions":"doc,exe,js,pdf,ppt,tgz,zip,xls","inbound_paths":"","home_url":"https:\/\/www.newlegend4x4.com","track_download_as":"event","internal_label":"int","hash_tracking":"false"};
		/* ]]> */
		</script>
		<script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/plugins/google-analytics-for-wordpress/assets/js/frontend.min.js?ver=7.2.0'></script>
		<script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/jquery.min.js?ver=2.2.4'></script>
		<script type='text/javascript' src='https://www.newlegend4x4.com/wp-content/themes/new-legend/assets/js/min/jquery-ui.min.js?ver=1537947052'></script>
	
		
		<link rel="icon" href="{% static 'images/favicon2.png' %}" type="image/png" sizes="16x16">
		<title>CS-CROWDFUND</title>


	</head>

	<body>    
		<header style="background-color: #4150AF">
        	{% include "partials/header.html" %}
    	</header>

    	<content>
    		{% block content %}
        	{% endblock %}
    	</content>

    	<footer>
    		{% include "partials/footer.html" %}
    	</footer>
	</body>
</html>

