{% extends "layout/base.html" %}
{% load static %}
 {% load staticfiles %}


<!--<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% load static %}
        <link rel="stylesheet" href="{% static 'donation.css' %}">
        <title>CS-CrowdFunding</title>
    </head> -->
    {% block content %}
    <body>
        <h1>Donations</h1>
        
		<div id="container-fluid">
		  <div id="title">
	        <h2 id="head2">Please fill in the Form</h2>
          </div>

	      <div id="fill">
	        <div class="row">
              <div class="col-md-6">
                <form id="form" method="POST" action=""  > 
                 
                  {% csrf_token %}
                  <b>{{ donation_form.as_p }}</b>
                  <button  type="submit" value="Submit" id ="submit_btn" >Submit</button>
                </form>
              </div>
            </div>
           </div> 

            <div class="row">
              <div class="col-md-6">
                {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!--<p>   {{display}}  </p>-->
                
              </div>   
            </div>

         
                 
        </div>
    </body>
    {% endblock %}