{% extends "layout/base.html" %}
{% load static %}
 {% load staticfiles %}

<!--<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        {% load static %}
	    <link rel="stylesheet" href="{% static 'donation.css' %}">
        <title>CS-CrowdFunding</title>
 </head> -->
 {% block content %}
 <body>
        <h1>Thank you for your donation {{user.username}}</h1>
        <h2 id ="donation_amount">Donation amount : 0</h2>

        <div class="container-fluid">
        
                <div class="row" style="background-color:white">

                    <div class="col-md-6">
                            <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <th class="col-md-6">Name</th>
                                        <th class="col-md-6"> Amount </th>
                                        <th class="col-md-6">Location</th>
                                        <th class="col-md-6">Program</th>
                                        </thead>
                                        {% csrf_token %}
                                        <tbody id ="start_donation">
                                       </tbody>
                                    </table>
                                </div>
    
                           
           
                    </div>
                        
                 
                    
                    
               </div>
            </div>
 </body>
 {% endblock %}