{% extends "layout/base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}

<body>


   <div class="container p-12">
      <div class="row">
         <div class="col">
         </div>
         <div class="col">
            <img src="{% static 'selfpic.jpg' %}" id="selfpicture">
            <h2 class="text-center">CS CrowdFund</h2>
         </div>
         <div class="col">
         </div>
   </div>
      </br>
      </br>
      </br>

      <p class="text-center">CS-CrowdFund works in 90 area and territories to protect every people.</p>
      <p class="text-center">CS-CrowdFund has spent 10 years working to improve the lives of families.</p>

      <div class="container p-5">
         <div class="row">
            <div class="col">
               <h3><span class="font-weight-bold">Mission</span></h3>
               <p class="text-justify">The world has changed, but people’s needs have not. See how CS-CrowdFund’s
                  commitment to children remains as strong as ever
                  despite the complexities of our world.</p>
            </div>
            <div class="col">
               <h3><span class="font-weight-bold">Our track</span></h3>
               <p class="text-justify">CS-CrowdFund works day-in day-out in the world’s toughest places to reach the
                  most vulnerable and disadvantaged victim.
                  Delivering results for victim is our driving force.</p>
            </div>
            <div class="col">
               <h3><span class="font-weight-bold">Report</span></h3>
               <p class="text-justify">Our Annual Report highlights the results we are achieving for people around the
                  Indonesia and reports on our financial
                  stewardship.</p>
            </div>
         </div>
      </div>
   </div>

    {% if user.is_authenticated %}

   <div class="container p-12">
      <div class="row">
         <div class="col">
         </div>
         <div class="col">
   
            <div class="container" style=" display: block;">
               <h1 style="font-family: 'montserrat' ; font-size:58px">Testimoni</h1>
            
               <textarea type="text" name="testimoni input" id="testi" placeholder="Give your feedback here ..." style="width: 350px; height: 100px"></textarea>
               <button id="submit_testi" type="submit" class="button" onclick="" style="font-family: 'montserrat'; color: white; 
               background-color: black; border-style: none; 
               padding: 10px; width: 350px; margin-top: 10px;display: block;">Send</button>
            </div>

         </div>
         <div class="col">
         </div>

      </div>

       

	  		{% else %}
         <div class="container p-12">
            <div class="row">
               <div class="col">
               </div>
               <div class="col">

                  <h1 id="testi" style="font-family: 'montserrat'; margin-top: 20px">Testimoni</h1>

               </div>
               <div class="col">
               </div>
            </div>
           


              {% endif %}

            <div class="container p-12">
               <div class="row">
                  <div class="col">
                  </div>
                  <div class="col">

                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <th class="col-md-6">Name</th>
                                 <th class="col-md-6"> Testimoni </th>
                              </thead>
                              {% csrf_token %}
                              <tbody id="start_testimoni">
                              </tbody>
                           </table>
                        </div>

                  </div>
                  <div class="col">
                  </div>
               </div>
              
            </div>   
           </div>



</body>


{% endblock %}