{% extends "layout/base.html" %}
{% block content %}
<body>
	<div id="home">
		<div class="container">
			<h4>CS-</br>CROWD</br>FUND</h4>
			<h1>HELP US MAKE THE<br/>WORLD A BETTER PLACE</h1>
			<a class="ct-btn-scroll ct-js-btn-scroll" href="#about"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
		</div>
	</div>

	<div id="about">
		<div class="container">
			{% load static %}
			<img src={% static "images/about.png" %} alt="kids" class="about-img">
			<h2 class="about-title">ABOUT</h2>
			<p class="about-explanation">​Here at cs-crowdfund, we are driven by a single goal; to do our part</br>in making the world a better place for all. Our decision making process<br/>is informed by comprehensive empirical studies and high quality data<br/>evaluation. We strive to build productive relationships and make a<br/>positive impact with all of our pursuits.</p>
		</div>
	</div>

	<div id="news-title-container">
		<div class="container">
			<h2 class="news-title">RECENT NEWS</h2>
		</div>
	</div>

	<div id="recent-news">
		<div class="container">
			<div id="demo" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ul class="carousel-indicators">
			    <li data-target="#demo" data-slide-to="0" class="active"></li>
			    <li data-target="#demo" data-slide-to="1"></li>
			  </ul>
			  
			  <!-- The slideshow -->
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src={% static "images/lombok.png" %} width="1100" height="500">
			        <div class="carousel-caption">
					    <h3>Lombok Earthquake</h3>
					</div>
			    </div>
			    <div class="carousel-item">
			      <img src={% static "images/palu.png" %}>
			      	<div class="carousel-caption">
					    <h3>Tsunami in Palu</h3>
					</div>
			    </div>
			  </div>
			  
			  <!-- Left and right controls -->
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
			    <span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
			    <span class="carousel-control-next-icon"></span>
			  </a>
			</div>
		</div>
	</div>

	<!--

	<div id="howtodonate">
		<div class="container">
			<h2 class="howto-title">HOW TO DONATE</h2>

			<h4 class="register-yourself">Register<br/>Yourself</h4>
			<img src="{% static "images/icons8-contacts-100.png" %}" class="contact-icon">

			<img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon1">

			<h4 class="pick-a-news">Pick A News</h4>
			<img src="{% static "images/icons8-news-100.png" %}" class="news-icon">

			<img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon2">

			<h4 class="enter-infos">Enter All The<br/>Required Infos</h4>
			<img src="{% static "images/icons8-form-100.png" %}" class="form-icon">

			<img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon3">

			<h4 class="donation-sent">Your Donation<br/>Will Be Sent!</h4>
			<img src="{% static "images/icons8-send-100.png" %}" class="mail-icon">

			<h4 class="quote">“Act as if what you do makes a difference. It does.”<br/>- William James</h4>
		</div>
	</div>

-->

	<div id="howtodonate">
		<div class="container">
			<h2 class="howto-title">HOW TO DONATE</h2>

			<div class="row">
			  	<div class="col" id="col">
			    	<h4 class="register-yourself" style="text-align: center;">Register<br/>Yourself</h4>
					<img src="{% static "images/icons8-contacts-100.png" %}" class="contact-icon">
			    </div>

			    <img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon">

			    <div class="col">
			    	<h4 class="pick-a-news">Pick A News</h4>
					<img src="{% static "images/icons8-news-100.png" %}" class="news-icon">
			    </div>

			    <img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon">

			    <div class="col">
			    	<h4 class="enter-infos">Enter All The<br/>Required Infos</h4>
					<img src="{% static "images/icons8-form-100.png" %}" class="form-icon">
			    </div>

			    <img src="{% static "images/icons8-right-filled-100.png" %}" class="arrow-icon">

			    <div class="col">
			    	<h4 class="donation-sent">Your Donation<br/>Will Be Sent!</h4>
					<img src="{% static "images/icons8-send-100.png" %}" class="mail-icon">
			    </div>
			</div>

			<h4 class="quote">“Act as if what you do makes a difference. It does.”<br/>- William James</h4>
		</div>
	</div>

</body>

{% endblock %}